@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body, h2, p, .navbar ul li a, .hero-text h2, .contact-form input, .contact-form textarea {
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #e76f51;
    --primary-color-top: #fd7554;
    --secondary-color: #264653;
    --text-color: #555;
    --background-color: #fafafa;
    --navbar-background: #e76f51;
    --navbar-background-hover: #ac513a;
    --button-hover-color: #f5d5cd;
    --footer-background: #e76f51;
    --footer-text-color: #fff;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

h2 {
    color: var(--primary-color);
    text-align: center;
    font-size: 2.5rem;
    margin: 20px 0;
}

p {
    color: #555;
    line-height: 1.8;
    margin: 20px 10px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--navbar-background);
    box-shadow: 0 4px 8px var(--box-shadow-color);
}

.navbar .logo img {
    width: 80px;
    height: auto;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: all 0.3s ease;
    position: relative;
}

.navbar ul li a:hover {
    color: var(--primary-color);
    background-color: #fff;
    border: 2px solid var(--primary-color);
    box-shadow: 0 5px 10px var(--box-shadow-color);
    border: 2px solid;
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li {
        margin-bottom: 10px;
    }
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.hero-image {
    flex: 1;
    max-width: 50%;
}

.hero-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.hero-text {
    flex: 1;
    max-width: 50%;
    text-align: left;
}

.hero-text h2 {
    color: var(--secondary-color);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-text p {
    color: #555;
    font-size: 1.2rem;
    line-height: 1.8;
}

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        padding: 20px;
    }

    .hero-image {
        display: none;
    }

    .hero-text {
        max-width: 100%;
    }

    .hero-text h2 {
        font-size: 2rem;
    }

    .hero-text p {
        font-size: 1.1rem;
    }
}


.section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.section ul {
    list-style-type: disc;
    padding-left: 20px;
}

.section ul li {
    margin-bottom: 10px;
}

.image-and-pricing img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        padding: 20px;
    }

    .big-image img {
        width: 100%;
    }

    .text-content, .section {
        max-width: 100%;
    }
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-form {
    flex: 1;
    margin-right: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form input[type="submit"] {
    background-color: var(--button-hover-color);
    color: var(--footer-text-color);
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form input[type="submit"]:hover {
    background-color: var(--primary-color);
}

.contact-image {
    flex: 1;
    display: block;
}

.contact-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        padding: 20px;
    }

    .contact-image {
        display: none;
    }

    .contact-form {
        margin-right: 0;
        width: 100%;
    }
}


footer {
    background-color: var(--footer-background);
    color: var(--footer-text-color);
    padding: 40px 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
}

.footer-links ul, .footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li, .footer-social ul li {
    margin: 10px 0;
}

.footer-links ul li a, .footer-social ul li a {
    color: var(--footer-text-color);
    text-decoration: none;
}

.footer-links ul li a:hover, .footer-social ul li a:hover {
    text-decoration: underline;
}

.footer-section {
    flex: 1;
    padding: 10px;
}

.footer-address p {
    margin: 10px 0;
}

.footer-social ul {
    display: flex;
    justify-content: center;
}

.footer-social ul li {
    margin: 0 10px;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        padding: 10px 0;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }
}

#toTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1001;
    background-color: var(--primary-color-top);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#toTop:hover {
    background-color:  var(--navbar-background-hover);
}